<!DOCTYPE html>
<html>
<head>
    <title>Это Опс-центр. Макет.</title>
</head>
<body>
    <h3>Вы вошли как {{ request.user.username }}! </h3> Комментарии, мат, просьбы и предложения пишите на почту: <a href="mailto: y.zholobov@crystals.ru" > y.zholobov@crystals.ru </a>
    <p><h3>Это основная страница</h3> Тут пока будут лежать кнопки для обновления базы данных, для получения списков и для всего остального. Потом приведём в приличный вид. ( Спойлер - нет ). </p>

<!-- home.html -->

    <br>
    <!-- line -->
    <hr>

<!-- Begin of the action list form -->    
<form id="execute-form" method="post" action="{% url 'execute_command' %}">
    {% csrf_token %}
    <label for="command">Выберите команду:</label>
    <select name="command" id="command">
        <option value="cmd1">pwd</option>
        <option value="cmd2">ls -la</option>
        <option value="cmd3">make a client's list</option> 
        <option value="cmd4">make an inventory list</option>
        <!-- Lets add more options -->
    </select>
    <button type="submit">Ду!</button>
</form>
<!-- End of the action list form -->

<br>
<hr>

<!-- Begin of the clients list form -->
<form id="list-clients-form" method="post">
    {% csrf_token %}
    <button type="submit" name="list_clients">Вывести список клиентов</button>
</form>

<br>
<hr>
<!-- End of the clients list form -->










    <a href="{% url 'logout' %}">Exit</a>

    <pre id="command-output"></pre>

    <script>
        // Функция для отправки данных формы и обработки ответа
        function handleFormSubmit(event, outputElement, url) {
            event.preventDefault();
            var formData = new FormData(event.target);
            fetch(url, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                outputElement.textContent = data.output || 'No output';
            })
            .catch(error => console.error('Error:', error));
        }

        // Обработка формы выполнения команд
        var executeForm = document.querySelector('#execute-form');
        executeForm.addEventListener('submit', function(e) {
            var outputElement = document.querySelector('#command-output');
            handleFormSubmit(e, outputElement, executeForm.action);
        });

    

       // Обработка формы для вывода списка клиентов
       var listClientsForm = document.querySelector('#list-clients-form');
       listClientsForm.addEventListener('submit', function(e) {
           e.preventDefault();
           var outputElement = document.querySelector('#command-output');
       
           fetch('{% url 'list_clients' %}', {
               method: 'POST',
               body: new FormData(listClientsForm)
           })
           .then(response => response.json())
           .then(data => {
               if (data.clients) {
                   outputElement.textContent = data.clients.join('\n');
               } else {
                   outputElement.textContent = 'No clients found';
               }
           })
           .catch(error => {
               console.error('Error:', error);
               outputElement.textContent = 'Error loading clients';
           });
         });


    </script>
    

</body>
</html>
