<!DOCTYPE html>
<html>
<head>
    <title>Galaxen är i fara!</title>
</head>
<body>
    <h3>Hej min älskling {{ request.user.username }}! </h3> (Привет, дорогой {{ request.user.username }}! )
    <p><h3>Detta är hemsidan.</h3> (Это домашняя страничка. Пока будет в одной всё.)</p>

<!-- home.html -->

    <br>
    <!-- line -->
    <hr>
<form method="post" action="{% url 'execute_command' %}">
    {% csrf_token %}
    <label for="command">Select an action:</label>
    <select name="command" id="command">
        <option value="cmd1">pwd</option>
        <option value="cmd2">ls -la</option>
        <option value="cmd3">make a client's list</option> 
        <option value="cmd4">make an inventory list</option>
        <!-- Добавьте больше команд здесь -->
    </select>
    <button type="submit">Do!</button>
</form>

<br>
<hr>
    <a href="{% url 'logout' %}">Exit</a>

    <pre id="command-output"></pre>

    <script>
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            fetch('/execute-command/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.querySelector('#command-output').textContent = data.output;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    

</body>
</html>
